apipkg==1.5
autopep8==1.2.4
decorator==4.4.2
execnet==1.7.1
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.17.2
parameterized==0.6.1
parso==0.7.1
pep8==1.7.0
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==1.0.18
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pytest==3.1.2
pytest-xdist==1.15.0
simplegeneric==0.8.1
six==1.15.0
traitlets==4.3.3
wcwidth==0.2.5
