h5py >= 2.2.1,<=2.6.0
numpy >= 1.14.5
#  Biopython 1.76 last version to support Python 3.5
biopython >= 1.63, <=1.76
Cython >= 0.25.2
wheel >= 0.29.0
ont_fast5_api == 1.2.0
pysam >= 0.15.0
matplotlib >= 2.0.0
scipy >= 1
statsmodels >= 0.10.1
torch == 1.2
